:root {
  --darkblue: #272c45;
  --red: #e15f62;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", -apple-system, "Helvetica", "Arial", sans-serif;
  background-color: var(--darkblue);
  height: 100%;
  word-wrap: break-word;
  font-kerning: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  text-align: center;
  display: block;
}

h1 {
  color: var(--white);
  font-size: 2.7em;
}

.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

/* header styles */

.header-container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding: 32px 42px;
  height: 13vh;
}

.menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: #ffffff;
  width: 140px;
  margin: 0 16px;
  transition: 0.4s;
  padding: 14px 18px;
  border-radius: 99px;
  font-weight: 300;
}

.menu .info {
  display: none;
}

.menu .participants {
  color: var(--darkblue);
  background-color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu .info {
    display: block;
  }
}

/* Hero section */

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87vh;
}

.bottom-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: var(--red);
}

.hero-caption {
  font-size: 4em;
  font-weight: bold;
  color: var(--white);
}

.bottom-description {
  display: flex;
  align-items: center;
  color: #d7d7da;
  opacity: 0.7;
  line-height: 1.3em;
}

.bottom-description p {
  font-size: 1.3em;
  margin-left: 30px;
  margin-right: 30px;
}

.description-main {
  margin: 30px 0 10px;
}

.registration-button {
  width: 190px;
  /* height: 50px; */
  padding: 20px 0;
  margin-top: 40px;
  color: var(--white);
  font-size: 1.15em;
  font-weight: 600;
  background-color: var(--red);
  border-radius: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-caption {
    font-size: 2.75em;
  }
}

@media (max-width: 480px) {
  .bottom-description p {
    font-size: 1em;
  }

  .registration-button {
    width: 140px;
    padding: 15px 0;
  }
}

/* schedule, faq, sponsors container */

.main-info-container {
  padding: 45px 200px 40px 200px;
}

@media (max-width: 1458px) {
  .main-info-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 935px) {
  .main-info-container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

/* Schedule section */

.schedule {
  height: 30vh;
}

.schedule-date {
  color: white;
  opacity: 0.5;
}

/* FAQ section */

.faq-element {
  max-width: 1000px;
  line-height: 24px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #c4c4c9;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  color: var(--red);
  font-size: 1.25rem;
}

.answer p {
  color: #c4c4c9;
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  text-align: left;
}

.answer p a {
  color: #c4c4c9;
  text-decoration: underline;
}
